/*  {outline:red dotted thick;} /*

/*==========  UNIVERSALI  ==========*/

body { padding-top: 70px; font-family: 'Droid Sans', sans-serif; }

.section-header {
text-align: center;
padding-bottom: 75px;
}

h1, h2, h3 { font-family: 'Raleway', sans-serif; }

h5 {
font-size: 17px;
}

.section-header h2 {
padding-bottom: 10px;
line-height: 40px;
position: relative;
display: inline-block;
}

.dark-text {
color: #404040;
}

h2 {
font-size: 45px !important;
line-height: 55px;
}

h2.section-title {
font-family: 'Montserrat', 'sans-serif';
font-weight: 700;
text-transform: uppercase;
}

.section-header h6 {
font-size: 16px;
}

#home, #services, #about, #team, #testimonials, #contacts, #features { padding-top: 70px; padding-bottom:70px; }

.row {
margin-left: 0;
margin-right: 0;
}

audio, canvas, progress, video {
display: inline-block;
vertical-align: baseline;
}

.skills .skill .skill1, .skill2, .skill3, .skill4 {
font-size: 16px !important;
}

/*==========  / UNIVERSALI  ==========*/


/*==========  HEADER  ==========*/

.navbar {
  min-height:75px;
  background-color:#fff;
}

.navbar .navbar-nav>li {
  display: inline;
  margin-right: 20px;
  margin-top: 10px;
}

.navbar-default .navbar-toggle {
border: 0;
background-color: #808080;
margin-top: 23px;
border-color: #333;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}

/*==========  / HEADER  ==========*/


/*==========  ABOVE THE FOLD - VALUE PROPOSITION  ==========*/

#value_proposition {
    width: 100%;
    height: 800px;
    background-image: url("above.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*==========  / ABOVE THE FOLD - VALUE PROPOSITION  ==========*/


/*==========  SERVICES  ==========*/

#services { text-align:center; }

.other-focuses {
background: url("lines.png") repeat-x center;
margin-bottom: 25px;
margin-top:50px;
}

.other-focuses .section-footer-title {
background: #FFF;
padding: 0 15px;
color: #404040;
font-weight: bold;
}

.other-focus-list ul li i {
margin-right: 8px;
}

.other-focus-list ul li {
display: inline-block;
margin-right: 50px;
padding-bottom: 15px;
text-transform: uppercase;
list-style:none;
}

.other-focus-list {
padding-top: 5px;
margin-bottom: -17px;
}

/*==========  / SERVICES  ==========*/



/*==========  FEATURES  ==========*/

.features {
    position: relative;
    z-index: 1;
}

#features .features-bg {
position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50% 50%;
    background: url(back1.jpg) center center no-repeat;
    opacity: .3;
    width: 100%;
    height: 100%;
}

.features .feature {
margin-bottom: 55px;
}

.features .feature-icon {
float: left;
margin-top: 10px;
margin-right: 25px;
}

/*==========  / FEATURES  ==========*/


/*==========  / ABOUT  ==========*/

#about { 
  background-color: #272727;
  text-align:center;
  color: #fff;
}

.about-us {
background: #272727;
color: #FFF;
padding-bottom: 100px;
}

.about-us .column {
margin-bottom: 78px;
}

.about-us .big-intro {
text-align: right;
font-weight: 300;
font-size: 60px;
line-height: normal;
margin-top: -15px;
}

.about-us p {
text-align: left;
color: #939393;
}

.skills {
text-align: left;
}

.skills .skill {
display: block;
clear: both;
margin-top: 0;
margin-bottom: 25px;
}

.skills .skill .skill-count {
display: inline-block;
height: 64px;
margin-top: 3px;
float: left;
margin-right: 15px;
margin-bottom: 25px;
}

.our-clients {
background: url("lines-dark.png") repeat-x center;
margin-bottom: 40px;
}

.our-clients h5 {
font-weight: 700;
}

.client-list li { list-style:none;}

.our-clients .section-footer-title {
background: #272727;
padding: 0 15px;
color: #FFF;
}

/*==========  / ABOUT  ==========*/



/*========== TEAM  ==========*/

#team { text-align:center; }

#team h6 { margin-bottom:40px; }

.profile-pic img { width:200px; height:200px; }

/*==========  / TEAM  ==========*/



/*==========  / FOOTER  ==========*/

#footer { 
  background-color: #272727;
  color: #fff;
  text-align:center;
}

.fa-map-marker { color:#f08c78; }
.fa-envelope { color:#9fd6c2 }
.fa-phone { color:#6cccf2; }

.icon-top { 
  margin-bottom:10px; 
  margin-top:60px; 
}

.copyright {
padding-top: 60px;
padding-bottom: 68px;
background: #171717;
}

.social, .social ul { 
  list-style-type:none; 
  padding-left:0px;
}

.social li {
display: inline-block;
margin: 5px;
}

/*==========  / FOOTER  ==========*/



/*==========  MOBILE FIRST METHOD  ==========*/

    /*--- Custom, iPhone Retina ---*/ 
    @media only screen and (min-width : 320px) {
    
    }

    /*--- Extra Small Devices, Phones ---*/ 
    @media only screen and (min-width : 480px) {

    }

    /*--- Small Devices, Tablets ---*/
    @media only screen and (min-width : 768px) {
.container {
width: 750px;
}
    }

    /*--- Medium Devices, Desktops ---*/
    @media only screen and (min-width : 992px) {

.container {
width: 970px;
}
    }

    /*--- Large Devices, Wide Screens ---*/
    @media only screen and (min-width : 1200px) {

      #value_proposition > span { 
         position: absolute; 
         top: 105px; 
         left: 70px; 
         font-size:70px;
      }

      #value_proposition >  span:nth-child(2) { 
         position: absolute; 
         top:190px; 
         left:950px;
         font-size:50px;
      }

      #value_proposition >  span:nth-child(2) > p { 
         margin-top:60px;
      }

      #value_proposition .text-right > h1 { 
         position: absolute; 
         top: 65px; 
         left:-80px;
         font-weight:bold;
         font-style:italic;
         font-size:90px; 
         color:#1c375b;
      }
      .container {
        width: 1170px;
      }


    }
    
/*==========  /MOBILE FIRST METHOD  ==========*/

