<footer id="footer">
<div class="container">
  
  <!-- COMPANY ADDRESS-->
  <div class="col-md-5 company-details">
    <div class="icon-top">
        <i class="fa fa-map-marker fa-3x"></i>
    </div>
    3 Merrion Grove - Dublin, Ireland <br/>
    Via Andrea del Sarto, 8 - Milano, Italy
  </div>
  
  <!-- COMPANY EMAIL-->
  <div class="col-md-2 company-details">
    <div class="icon-top">
    <i class="fa fa-envelope fa-3x"></i>
    </div>
     ireland@fatevobis.com<br/>
     italy@fatevobis.com
  </div>
  
  <!-- COMPANY PHONE NUMBER -->
  <div class="col-md-2 company-details">
    <div class="icon-top">
    <i class="fa fa-phone fa-3x"></i>
    </div>
    +353 0000 0000<br/>
    +39  0000 0000
  </div>
  
  <!-- SOCIAL ICON AND COPYRIGHT -->
  <div class="col-lg-3 col-sm-3 copyright">
    <ul class="social">
      <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-behance fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
    </ul>
     © 2015 Fatevobis
  </div>
</div> <!-- / END CONTAINER -->
</footer>